<div>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>
        &nbsp;
        <span data-translate="entity.action.back"> Назад</span>
    </button>

    <h2>
        <span>{{'danceFormApp.schedule.details.title' | translate}} "{{vm.currentCompetition.name}}"</span>
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <table>
        <tr>
            <td>
                <div ng-if="vm.currentCompetition.bannerImageId != null">
                    <a href="uploads/competition/{{vm.currentCompetition.id}}/banner" target="_new">
                        <img class="banner" data-ng-src="uploads/competition/{{vm.currentCompetition.id}}/banner"/>
                    </a>
                </div>
            </td>
            <td>
                <dl class="dl-horizontal jh-entity-details competition-dl">
                    <dt>
                        <span data-translate="danceFormApp.schedule.name">Навзание</span>
                    </dt>
                    <dd>
                        <span>{{vm.currentCompetition.name}}</span>
                    </dd>
                    <dt>
                        <span data-translate="danceFormApp.schedule.date">Дата проведения</span>
                    </dt>
                    <dd>
                        <div class="div-inline">{{vm.currentCompetition.startDate | date:'d MMMM yyyy'}}</div>
                        <div class="div-inline" ng-if="vm.currentCompetition.endDate != null && vm.currentCompetition.endDate != vm.currentCompetition.startDate">&nbsp;-
                            {{vm.currentCompetition.endDate | date:'d MMMM yyyy'}}
                        </div>
                    </dd>
                    <dt>
                        <span data-translate="danceFormApp.schedule.registrationCloses">Дата окончания регистрации</span>
                    </dt>
                    <dd>
                        <div class="div-inline">{{vm.currentCompetition.registrationClosesTime | date:'d MMMM yyyy HH:mm Z'}}</div>
                    </dd>
                    <dt>
                        <span data-translate="danceFormApp.schedule.organizer">Организатор</span>
                    </dt>
                    <dd>
                        <span>{{vm.currentCompetition.organizer}}</span>
                    </dd>
                    <dt>
                        <span data-translate="danceFormApp.schedule.location">Место проведения</span>
                    </dt>
                    <dd>
                        <span>{{vm.currentCompetition.location}}</span>
                    </dd>
                    <dt>
                        <span data-translate="danceFormApp.schedule.amount">Общее число зарегистрированных пар</span>
                    </dt>
                    <dd>
                        <span>{{vm.totalRegisteredCount}}
                            <span ng-show="vm.currentCompetition.amountOfUniqueRegisteredPairs > 0">
                                ({{'danceFormApp.schedule.uniqueAmount' | translate}} {{vm.currentCompetition.amountOfUniqueRegisteredPairs}})
                            </span>
                        </span>
                    </dd>
                    <dt ng-show="vm.currentCompetition.detailsDocumentId != null">
                        <span data-translate="danceFormApp.schedule.detailsDocument">Описание</span>
                    </dt>
                    <dd ng-show="vm.currentCompetition.detailsDocumentId != null">
                        <a href="uploads/competition/{{vm.currentCompetition.id}}/details" target="_new" data-translate="entity.action.open">
                            open
                        </a>
                    </dd>
                </dl>
            </td>
        </tr>
    </table>

    <div class="registry-button" ng-if="vm.currentCompetition.registrationOpen && !vm.currentCompetition.registrationClosed">
        <button type="submit"
                ui-sref="schedule-category-register({competitionId:vm.currentCompetition.id})"
                class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
            <span data-translate="danceFormApp.schedule.categories.register"></span>
        </button>
    </div>

    <div class="registry-button" ng-if="vm.currentCompetition.registrationOpen && vm.currentCompetition.registrationClosed">
        <button type="submit"
                ui-sref=""
                class="btn btn-danger" ng-disabled="true">
            <span data-translate="danceFormApp.schedule.categories.registerClosed"></span>
        </button>
    </div>

    <div class="table-responsive">
        <table class="jh-table table table-bordered table-schedule wrap-text competition-table">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th>
                        <span data-translate="danceFormApp.schedule.categories.name">Категория</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.schedule.categories.description">Описние</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.schedule.categories.danceClass">Классы</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.schedule.categories.amount">Количество пар</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="category in vm.categories track by category.id">
                    <td>
                        <button type="button"
                                ui-sref="schedule-category-details({competitionId:vm.currentCompetition.id, categoryId:category.id})"
                                class="btn btn-link show-competition-link">
                            <span>{{category.name}}</span>
                        </button>
                    </td>
                    <td>{{category.description}}</td>
                    <td>
                        <span ng-repeat="danceClass in category.danceClasses">
                            {{danceClass.name}}{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>{{category.registeredCouplesCount}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
