<div>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>
        &nbsp;
        <span data-translate="entity.action.back"> Back</span>
    </button>

    <h2>
        <span data-translate="danceFormApp.schedule.details.title">Competition</span>
        "{{vm.currentCompetition.name}}"
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details competition-dl">
        <dt>
            <span data-translate="danceFormApp.schedule.name">Name</span>
        </dt>
        <dd>
            <span>{{vm.currentCompetition.name}}</span>
        </dd>
        <dt>
            <span data-translate="danceFormApp.schedule.date">Date</span>
        </dt>
        <dd>
            <span>{{vm.currentCompetition.date | date:'d MMMM yyyy'}}</span>
        </dd>
        <dt>
            <span data-translate="danceFormApp.schedule.organizer">Organizer</span>
        </dt>
        <dd>
            <span>{{vm.currentCompetition.organizer}}</span>
        </dd>
        <dt>
            <span data-translate="danceFormApp.schedule.location">Location</span>
        </dt>
        <dd>
            <span>{{vm.currentCompetition.location}}</span>
        </dd>
    </dl>


    <form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

        <div>
            <div class="registry-block">
                <div class="form-group">
                    <label class="control-label" data-translate="danceFormApp.schedule.registry.partner1Surname" for="field_partner1surname">Name</label>
                    (
                    <span class="asterisk">*</span>
                    )
                    <input type="text" class="form-control" name="partner1Surname" id="field_partner1surname"
                           ng-model="vm.registerCouple.partner1Surname"
                           required ng-minlength="1" ng-maxlength="128"/>
                </div>

                <div class="form-group">
                    <label class="control-label" data-translate="danceFormApp.schedule.registry.partner1Name" for="field_partner1name">Name</label>
                    (
                    <span class="asterisk">*</span>
                    )
                    <input type="text" class="form-control" name="partner1Name" id="field_partner1name"
                           ng-model="vm.registerCouple.partner1Name"
                           required ng-minlength="1" ng-maxlength="128"/>
                </div>

                <div class="form-group">
                    <label class="control-label" data-translate="danceFormApp.schedule.registry.partner1DateOfBirth" for="field_partner1DateOfBirth">Date</label>
                    (
                    <span class="asterisk">*</span>
                    )
                    <div class="input-group">
                        <input id="field_partner1DateOfBirth" type="text" class="form-control" name="partner1DateOfBirth" uib-datepicker-popup="dd MMMM yyyy"
                               datepicker-options="vm.dateOptions1"
                               ng-model="vm.registerCouple.partner1DateOfBirth" is-open="vm.datePickerOpenStatus.partner1DateOfBirth"
                               required ng-change="vm.update()"
                               current-text="{{'global.buttons.today' | translate}}" clear-text="{{'global.buttons.clear' | translate}}"
                               close-text="{{'global.buttons.close' | translate}}"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('partner1DateOfBirth')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="classes-group form-group">
                    <table class="registry-classes">
                        <thead>
                            <tr>
                                <th colspan="2">
                                    <h4 class="registry-classes-label">
                                        <span data-translate="danceFormApp.schedule.registry.partner1Classes">Classes</span>
                                    </h4>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <label class="control-label" data-translate="danceFormApp.schedule.registry.st" for="field_partner1DanceClassST">Date</label>
                                    (
                                    <span class="asterisk">*</span>
                                    )
                                </th>
                                <th>
                                    <label class="control-label" data-translate="danceFormApp.schedule.registry.la" for="field_partner1DanceClassLA">Date</label>
                                    (
                                    <span class="asterisk">*</span>
                                    )
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="registry-class">
                                    <select class="form-control" id="field_partner1DanceClassST" name="partner1DanceClassST" ng-model="vm.registerCouple.partner1DanceClassST.id"
                                            ng-options="danceClass.id as danceClass.name for danceClass in vm.danceClasses | orderBy:'weight'" required
                                            ng-change="vm.update();">
                                        <option value=""></option>
                                    </select>
                                </td>

                                <td class="registry-class">
                                    <select class="form-control" id="field_partner1DanceClassLA" name="partner1DanceClassLA" ng-model="vm.registerCouple.partner1DanceClassLA.id"
                                            ng-options="danceClass.id as danceClass.name for danceClass in vm.danceClasses | orderBy:'weight'" required
                                            ng-change="vm.update();">
                                        <option value=""></option>
                                    </select>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>

            <div class="registry-block">
                <div class="form-group">
                    <label class="control-label" data-translate="danceFormApp.schedule.registry.partner2Surname" for="field_partner2surname">Name</label>
                    (
                    <span class="asterisk">*</span>
                    )
                    <input type="text" class="form-control" name="partner2Surname" id="field_partner2surname"
                           ng-model="vm.registerCouple.partner2Surname"
                           required ng-minlength="1" ng-maxlength="128"/>
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="danceFormApp.schedule.registry.partner2Name" for="field_partner2name">Name</label>
                    (
                    <span class="asterisk">*</span>
                    )
                    <input type="text" class="form-control" name="partner2Name" id="field_partner2name"
                           ng-model="vm.registerCouple.partner2Name"
                           required ng-minlength="1" ng-maxlength="128"/>
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="danceFormApp.schedule.registry.partner2DateOfBirth" for="field_partner2DateOfBirth">Date</label>
                    (
                    <span class="asterisk">*</span>
                    )
                    <div class="input-group">
                        <input id="field_partner2DateOfBirth" type="text" class="form-control" name="partner2DateOfBirth" uib-datepicker-popup="dd MMMM yyyy"
                               datepicker-options="vm.dateOptions2"
                               ng-model="vm.registerCouple.partner2DateOfBirth" is-open="vm.datePickerOpenStatus.partner2DateOfBirth"
                               required ng-change="vm.update()"
                               current-text="{{'global.buttons.today' | translate}}" clear-text="{{'global.buttons.clear' | translate}}"
                               close-text="{{'global.buttons.close' | translate}}"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('partner2DateOfBirth')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="classes-group form-group">
                    <table class="registry-classes">
                        <thead>
                            <tr>
                                <th colspan="2">
                                    <h4 class="registry-classes-label">
                                        <span data-translate="danceFormApp.schedule.registry.partner2Classes">Classes</span>
                                    </h4>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <label class="control-label" data-translate="danceFormApp.schedule.registry.st" for="field_partner2DanceClassST">Date</label>
                                    (
                                    <span class="asterisk">*</span>
                                    )
                                </th>
                                <th>
                                    <label class="control-label" data-translate="danceFormApp.schedule.registry.la" for="field_partner2DanceClassLA">Date</label>
                                    (
                                    <span class="asterisk">*</span>
                                    )
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="registry-class">
                                    <select class="form-control" id="field_partner2DanceClassST" name="partner2DanceClassST" ng-model="vm.registerCouple.partner2DanceClassST.id"
                                            ng-options="danceClass.id as danceClass.name for danceClass in vm.danceClasses | orderBy:'weight'" required
                                            ng-change="vm.update();">
                                        <option value=""></option>
                                    </select>
                                </td>

                                <td class="registry-class">
                                    <select class="form-control" id="field_partner2DanceClassLA" name="partner2DanceClassLA" ng-model="vm.registerCouple.partner2DanceClassLA.id"
                                            ng-options="danceClass.id as danceClass.name for danceClass in vm.danceClasses | orderBy:'weight'" required
                                            ng-change="vm.update();">
                                        <option value=""></option>
                                    </select>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>

            <div class="registry-block">
                <div class="form-group">
                    <label class="control-label" data-translate="danceFormApp.schedule.registry.organization" for="field_organization">Name</label>
                    (
                    <span class="asterisk">*</span>
                    )
                    <input type="text" class="form-control" name="organization" id="field_organization"
                           ng-model="vm.registerCouple.organization"
                           required ng-minlength="1" ng-maxlength="128"/>
                </div>

                <div class="form-group">
                    <label class="control-label" data-translate="danceFormApp.schedule.registry.location" for="field_location">Name</label>
                    (
                    <span class="asterisk">*</span>
                    )
                    <input type="text" class="form-control" name="location" id="field_location"
                           ng-model="vm.registerCouple.location"
                           required ng-minlength="1" ng-maxlength="128"/>
                </div>
            </div>

            <div class="registry-block">
                <div class="form-group">
                    <label class="control-label" data-translate="danceFormApp.schedule.registry.trainer1" for="field_trainer1">Name</label>
                    (
                    <span class="asterisk">*</span>
                    )

                    <select class="form-control" id="field_trainer1" name="trainer" ng-model="vm.registerCouple.trainer1"
                            ng-options="(trainer.surname + ' ' + trainer.name) as (trainer.surname + ' ' + trainer.name) for trainer in vm.trainers | orderBy:'surname + name'"
                            required>
                        <option value=""></option>
                    </select>


                    <!--<input type="text" class="form-control" name="organization" id="field_trainer1"
                           ng-model="vm.registerCouple.trainer1"
                           required ng-minlength="1" ng-maxlength="80"/>-->
                </div>

                <div class="form-group">
                    <label class="control-label" data-translate="danceFormApp.schedule.registry.trainer2" for="field_trainer2">Name</label>

                    <select class="form-control" id="field_trainer2" name="trainer" ng-model="vm.registerCouple.trainer2"
                            ng-options="(trainer.surname + ' ' + trainer.name) as (trainer.surname + ' ' + trainer.name) for trainer in vm.trainers | orderBy:'surname + name'">
                        <option value=""></option>
                    </select>


                    <!--<input type="text" class="form-control" name="organization" id="field_trainer1"
                           ng-model="vm.registerCouple.trainer1"
                           required ng-minlength="1" ng-maxlength="80"/>-->
                </div>
            </div>

            <div class="registry-block" ng-show="vm.availableCategories.length > 0">
                <h4 class="registry-classes-label">
                    <span data-translate="danceFormApp.schedule.registry.availableCategories">Classes</span>
                </h4>
                <div class="form-group" ng-repeat="availableCategory in vm.availableCategories track by availableCategory.id">
                    <div>
                        <input type="checkbox"
                               name="vm.registerCouple.competitionCategoryIds[]"
                               value="{{availableCategory.id}}"
                               ng-model="availableCategory.selected"
                               ng-change="vm.updateSelectedCategory();"/>
                        <span>{{availableCategory.name}}</span>
                    </div>
                </div>

            </div>

            <div>
                <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving || !vm.isCategorySelected" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>
                    &nbsp;
                    <span data-translate="danceFormApp.schedule.registry.register">Save</span>
                </button>
            </div>
        </div>
    </form>


</div>
