<div>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>
        &nbsp;
        <span data-translate="entity.action.back"> Back</span>
    </button>

    <h2>
        <span>{{'danceFormApp.schedule.details.title' | translate}} "{{vm.currentCompetition.name}}"</span>
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <table>
        <tr>
            <td>
                <div ng-if="vm.currentCompetition.bannerImageId != null">
                    <a href="uploads/competition/{{vm.currentCompetition.id}}/banner" target="_new">
                        <img class="banner" data-ng-src="uploads/competition/{{vm.currentCompetition.id}}/banner"/>
                    </a>
                </div>
            </td>
            <td>
                <dl class="dl-horizontal jh-entity-details competition-dl">
                    <dt>
                        <span data-translate="danceFormApp.schedule.name">Навзание</span>
                    </dt>
                    <dd>
                        <span>{{vm.currentCompetition.name}}</span>
                    </dd>
                    <dt>
                        <span data-translate="danceFormApp.schedule.date">Дата проведения</span>
                    </dt>
                    <dd>
                        <div class="div-inline">{{vm.currentCompetition.startDate | date:'d MMMM yyyy'}}</div>
                        <div class="div-inline" ng-if="vm.currentCompetition.endDate != null">&nbsp;- {{vm.currentCompetition.endDate | date:'d MMMM yyyy'}}</div>
                    </dd>
                    <dt>
                        <span data-translate="danceFormApp.schedule.registrationCloses">Дата окончания регистрации</span>
                    </dt>
                    <dd>
                        <div class="div-inline">{{vm.currentCompetition.registrationClosesTime | date:'d MMMM yyyy HH:mm Z'}}</div>
                    </dd>
                    <dt>
                        <span data-translate="danceFormApp.schedule.organizer">Организатор</span>
                    </dt>
                    <dd>
                        <span>{{vm.currentCompetition.organizer}}</span>
                    </dd>
                    <dt>
                        <span data-translate="danceFormApp.schedule.location">Место проведения</span>
                    </dt>
                    <dd>
                        <span>{{vm.currentCompetition.location}}</span>
                    </dd>
                    <dt>
                        <span data-translate="danceFormApp.schedule.category.amount">Пар в категории</span>
                    </dt>
                    <dd>
                        <span>{{vm.category.registeredCouplesCount}}</span>
                    </dd>
                    <dt ng-show="vm.currentCompetition.detailsDocumentId != null">
                        <span data-translate="danceFormApp.schedule.detailsDocument">Описание</span>
                    </dt>
                    <dd ng-show="vm.currentCompetition.detailsDocumentId != null">
                        <a href="uploads/competition/{{vm.currentCompetition.id}}/details" target="_new" data-translate="entity.action.open">
                            open
                        </a>
                    </dd>
                </dl>
            </td>
        </tr>
    </table>

    <div class="table-responsive">
        <table class="jh-table table table-bordered table-schedule ">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th>
                        <span data-translate="danceFormApp.schedule.couples.names">Название</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.schedule.couples.danceClass">Классы</span>
                        <br>
                        <span data-translate="{{vm.category.danceCategory.id === -1 ? ('danceFormApp.schedule.registry.st' | translate) : ('danceFormApp.schedule.registry.la' | translate)}}">
                            Классы
                        </span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.schedule.couples.organization">Организация</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.schedule.couples.trainer">Тренер</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="couple in vm.couples track by couple.id">
                    <td style="white-space: nowrap;">
                        <div class="div-inline">{{couple.partner1Surname}} {{couple.partner1Name}}{{null != couple.partner2Surname && null != couple.partner2Name ? ',' : ''}}</div>
                        <br ng-if="null != couple.partner2Surname && null != couple.partner2Name">
                        <div class="div-inline" ng-if="null != couple.partner2Surname && null != couple.partner2Name">{{couple.partner2Surname}} {{couple.partner2Name}}</div>
                    </td>
                    <td style="white-space: nowrap;">
                        <div class="div-inline">{{vm.category.danceCategory.id === -1 ? couple.partner1DanceClassST.name : couple.partner1DanceClassLA.name}}{{null !=
                            couple.partner2DanceClassST || null != couple.partner2DanceClassLA ? ',' : ''}}
                        </div>
                        <br ng-if="null != couple.partner2DanceClassST || null != couple.partner2DanceClassLA">
                        <div class="div-inline" ng-if="null != couple.partner2DanceClassST || null != couple.partner2DanceClassLA">{{vm.category.danceCategory.id === -1 ?
                            couple.partner2DanceClassST.name : couple.partner2DanceClassLA.name}}
                        </div>
                    </td>
                    <td style="white-space: nowrap;">{{couple.organization}}</td>
                    <td style="white-space: nowrap;">
                        <div class="div-inline">{{couple.trainer1}}{{couple.trainer2 != null ? ',' : ''}}</div>
                        <br ng-if="couple.trainer2 != null">
                        <div class="div-inline" ng-if="couple.trainer2 != null">{{couple.trainer2}}</div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
