<div>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>
        &nbsp;
        <span data-translate="entity.action.back"> Back</span>
    </button>

    <h2>
        <span data-translate="danceFormApp.competition-timeline.show.title">Competition</span>
        "{{vm.currentCompetition.name}}"
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <table>
        <tr>
            <td>
                <div ng-show="vm.currentCompetition.bannerImageId != null">
                    <a href="uploads/competition/{{vm.currentCompetition.id}}/banner" target="_new">
                        <img class="banner" data-ng-src="uploads/competition/{{vm.currentCompetition.id}}/banner"/>
                    </a>
                </div>
            </td>
            <td>
                <dl class="dl-horizontal jh-entity-details competition-dl">
                    <dt>
                        <span data-translate="danceFormApp.competition-timeline.name">Name</span>
                    </dt>
                    <dd>
                        <span>{{vm.currentCompetition.name}}</span>
                    </dd>
                    <dt>
                        <span data-translate="danceFormApp.competition-timeline.date">Date</span>
                    </dt>
                    <dd>
                        <span>{{vm.currentCompetition.date | date:'d MMMM yyyy'}}</span>
                    </dd>
                    <dt>
                        <span data-translate="danceFormApp.competition-timeline.organizer">Organizer</span>
                    </dt>
                    <dd>
                        <span>{{vm.currentCompetition.organizer}}</span>
                    </dd>
                    <dt>
                        <span data-translate="danceFormApp.competition-timeline.location">Location</span>
                    </dt>
                    <dd>
                        <span>{{vm.currentCompetition.location}}</span>
                    </dd>
                    <dt>
                        <span data-translate="danceFormApp.competition-timeline.amount">Location</span>
                    </dt>
                    <dd>
                        <span>{{vm.totalRegisteredCount}}
                            <span ng-show="vm.currentCompetition.amountOfUniqueRegisteredPairs > 0">
                                <span data-translate="danceFormApp.competition-timeline.uniqueAmount"></span>
                                {{vm.currentCompetition.amountOfUniqueRegisteredPairs}})
                            </span>
                        </span>
                    </dd>
                    <dt ng-show="vm.currentCompetition.detailsDocumentId != null">
                        <span data-translate="danceFormApp.competition-timeline.detailsDocument">Location</span>
                    </dt>
                    <dd ng-show="vm.currentCompetition.detailsDocumentId != null">
                        <a href="uploads/competition/{{vm.currentCompetition.id}}/details" target="_new" data-translate="entity.action.open">
                            open
                        </a>
                    </dd>
                </dl>
            </td>
        </tr>
    </table>


    <button type="submit"
            ui-sref="competition-timeline-category-register({competitionId:vm.currentCompetition.id})"
            class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus"></span>
        <span data-translate="danceFormApp.competition-timeline.categories.register"></span>
    </button>

    <div class="table-responsive">
        <table class="jh-table table table-bordered table-timeline wrap-text nowrap-content">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th>
                        <span data-translate="danceFormApp.competition-timeline.categories.name">Дата</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.competition-timeline.categories.description">Дата</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.competition-timeline.categories.amount">Дата</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.competition-timeline.categories.danceClass">Dance Class</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="category in vm.categories track by category.id">
                    <td>
                        <button type="button"
                                ui-sref="competition-timeline-category-details({competitionId:vm.currentCompetition.id, categoryId:category.id})"
                                class="btn btn-link show-competition-link">
                            <span>{{category.name}}</span>
                        </button>
                    </td>
                    <td>{{category.description}}</td>
                    <td>{{category.registeredCouplesCount}}</td>
                    <td>
                        <span ng-repeat="danceClass in category.danceClasses">
                            {{danceClass.name}}{{$last ? '' : ', '}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</div>
