<div>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>
        &nbsp;
        <span data-translate="entity.action.back"> Back</span>
    </button>

    <h2>
        <span data-translate="danceFormApp.competition-timeline.show.title">Competition</span>
        "{{vm.currentCompetition.name}}"
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details competition-dl">
        <dt>
            <span data-translate="danceFormApp.competition-timeline.name">Name</span>
        </dt>
        <dd>
            <span>{{vm.currentCompetition.name}}</span>
        </dd>
        <dt>
            <span data-translate="danceFormApp.competition-timeline.date">Date</span>
        </dt>
        <dd>
            <span>{{vm.currentCompetition.date | date:'d MMMM yyyy'}}</span>
        </dd>
        <dt>
            <span data-translate="danceFormApp.competition-timeline.organizer">Organizer</span>
        </dt>
        <dd>
            <span>{{vm.currentCompetition.organizer}}</span>
        </dd>
        <dt>
            <span data-translate="danceFormApp.competition-timeline.location">Location</span>
        </dt>
        <dd>
            <span>{{vm.currentCompetition.location}}</span>
        </dd>
        <dt>
            <span data-translate="danceFormApp.competition-timeline.amount">Location</span>
        </dt>
        <dd>
            <span>{{vm.totalRegisteredCount}}</span>
        </dd>
    </dl>


    <button type="submit"
            ui-sref="competition-timeline-category-register({competitionId:vm.currentCompetition.id})"
            class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus"></span>
        <span data-translate="danceFormApp.competition-timeline.categories.register"></span>
    </button>

    <div class="table-responsive">
        <table class="jh-table table table-bordered table-timeline wrap-text nowrap-content">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th>
                        <span data-translate="danceFormApp.competition-timeline.categories.name">Дата</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.competition-timeline.categories.amount">Дата</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.competition-timeline.categories.danceClass">Dance Class</span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="category in vm.categories track by category.id">
                    <td>{{category.name}}</td>
                    <td class="align-center">{{category.registeredCouplesCount}}</td>
                    <td>
                        <span ng-repeat="danceClass in category.danceClasses">
                            {{danceClass.name}}{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="competition-timeline-category-details({competitionId:vm.currentCompetition.id, categoryId:category.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" data-translate="danceFormApp.competition-timeline.categories.details"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
