<div>

    <button type="submit"
            ui-sref="competition"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>
        &nbsp;
        <span data-translate="entity.action.back"> Back</span>
    </button>

    <h2>
        <span data-translate="danceFormApp.competition.detail.title">Competition</span>
        {{vm.competition.id}}
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <table>
        <tr>
            <td>
                <div ng-if="vm.competition.bannerImageId != null">
                    <a href="uploads/{{vm.competition.bannerImageId}}" target="_new">
                        <img class="banner" data-ng-src="uploads/{{vm.competition.bannerImageId}}"/>
                    </a>
                </div>
            </td>
            <td>
                <dl class="dl-horizontal jh-entity-details">
                    <dt>
                        <span data-translate="danceFormApp.competition.name">Name</span>
                    </dt>
                    <dd>
                        <span>{{vm.competition.name}}</span>
                    </dd>
                    <dt>
                        <span data-translate="danceFormApp.competition.date">Date</span>
                    </dt>
                    <dd>
                        <div>{{vm.competition.startDate | date:'d MMMM yyyy'}}</div>
                        <div ng-if="vm.competition.endDate != null"> - {{vm.competition.endDate | date:'d MMMM yyyy'}}</div>
                    </dd>
                    <dt>
                        <span data-translate="danceFormApp.competition.visible">Is Visible</span>
                    </dt>
                    <dd>
                        <div ng-if="vm.competition.visible">
                            <span data-translate="global.variables.true"></span>
                        </div>
                        <div ng-if="!vm.competition.visible">
                            <span data-translate="global.variables.false"></span>
                        </div>
                    </dd>
                    <dt>
                        <span data-translate="danceFormApp.competition.organizer">Organizer</span>
                    </dt>
                    <dd>
                        <span>{{vm.competition.organizer}}</span>
                    </dd>
                    <dt>
                        <span data-translate="danceFormApp.competition.location">Location</span>
                    </dt>
                    <dd>
                        <span>{{vm.competition.location}}</span>
                    </dd>
                    <dt ng-show="vm.competition.detailsDocumentId != null">
                        <span data-translate="danceFormApp.competition.detailsDocument">Location</span>
                    </dt>
                    <dd ng-if="vm.competition.detailsDocumentId != null">
                        <!--<a href="{{vm.currentCompetition.uploadedDocumentDTO.externalPath}}" target="_blank" data-translate="entity.action.open">-->
                        <!--<a ng-click="vm.loadDocumentDetails()" target="_new" data-translate="entity.action.open">-->
                        <a href="uploads/{{vm.competition.detailsDocumentId}}" target="_new" data-translate="entity.action.open">
                            open
                        </a>
                    </dd>
                </dl>
            </td>
        </tr>
    </table>

    <button type="submit"
            ui-sref="competition-category({competitionId:vm.competition.id})"
            class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span>
        <span data-translate="danceFormApp.competition.action.addCategory"></span>
    </button>

    <button type="submit"
            ui-sref="competition-upload-image({competitionId:vm.competition.id})"
            class="btn btn-upload">
        <span class="glyphicon glyphicon-upload"></span>
        <span data-translate="danceFormApp.competition.action.uploadBanner"></span>
    </button>

    <button type="submit"
            ui-sref="competition-upload-details({competitionId:vm.competition.id})"
            class="btn btn-upload">
        <span class="glyphicon glyphicon-upload"></span>
        <span data-translate="danceFormApp.competition.action.uploadDetails"></span>
    </button>

    <button type="button" ui-sref="competition-detail.edit({id:vm.competition.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
