<div>

    <div class="alert alert-info notification" ng-cloak="" ng-repeat="competitionNotification in vm.competitionNotifications">{{competitionNotification.message}}</div>

    <div class="table-responsive">
        <table class="jh-table table table-bordered table-schedule competition-table">
            <tbody>
                <tr class="table-head">
                    <td colspan="5">
                        <h1 data-translate="danceFormApp.schedule.title">Предстоящие Турниры</h1>
                    </td>
                </tr>
                <tr class="table-head">
                    <td style="width:15%">
                        <span data-translate="danceFormApp.schedule.date">Дата</span>
                    </td>
                    <td style="width:20%">
                        <span data-translate="danceFormApp.schedule.name">Название</span>
                    </td>
                    <td class="wrap-text" style="width:30%;">
                        <span data-translate="danceFormApp.schedule.location">Место</span>
                    </td>
                    <td style="width:20%">
                        <span data-translate="danceFormApp.schedule.organizer">Организатор</span>
                    </td>
                    <td style="width:15%"/>
                </tr>
                <tr ng-repeat="competition in vm.futureCompetitions | orderBy:'startDate'">
                    <td>
                        <div class="div-inline">{{competition.startDate | date:'d MMMM yyyy'}}</div>
                        <div class="div-inline" ng-if="competition.endDate != null && competition.startDate != competition.endDate">&nbsp;- {{competition.endDate | date:'d MMMM
                            yyyy'}}
                        </div>
                    </td>
                    <td>
                        <a ui-sref="schedule-details({id:competition.id})"
                                class="btn btn-link show-competition-link">
                            <span>{{competition.name}}</span>
                        </a>
                    </td>
                    <td style="white-space: normal;">{{competition.location}}</td>
                    <td>{{competition.organizer}}</td>
                    <td>
                        <a ng-if="competition.registrationOpen && !competition.registrationClosed"
                                ui-sref="schedule-category-register({id:competition.id})"
                                class="btn btn-link show-competition-link">
                            <span>{{'danceFormApp.schedule.registry.register' | translate}}</span>
                        </a>
                    </td>
                </tr>

                <tr class="table-head" ng-if="vm.pastCompetitions != null && vm.pastCompetitions.length > 0">
                    <td colspan="5" style="border: none; text-align: left">
                        <h2 data-translate="danceFormApp.schedule.past.title">Прошедшие турниры </h2>
                    </td>
                </tr>
                <tr class="table-head" ng-if="vm.pastCompetitions != null && vm.pastCompetitions.length > 0">
                    <td>
                        <span data-translate="danceFormApp.schedule.date">Дата</span>
                    </td>
                    <td>
                        <span data-translate="danceFormApp.schedule.name">Название</span>
                    </td>
                    <td>
                        <span data-translate="danceFormApp.schedule.location">Место</span>
                    </td>
                    <td>
                        <span data-translate="danceFormApp.schedule.organizer">Организатор</span>
                    </td>
                    <td/>
                </tr>
                <tr ng-if="vm.pastCompetitions != null && vm.pastCompetitions.length > 0" ng-repeat="competition in vm.pastCompetitions | orderBy:'startDate'">
                    <td>
                        <div class="div-inline">{{competition.startDate | date:'d MMMM yyyy'}}</div>
                        <div class="div-inline" ng-if="competition.endDate != null"> - {{competition.endDate | date:'d MMMM yyyy'}}</div>
                    </td>
                    <td class="competition-name">
                        <span>{{competition.name}}</span>
                    </td>
                    <td style="white-space: normal;">{{competition.location}}</td>
                    <td>{{competition.organizer}}</td>
                    <td>
                        <a ng-if="competition.resultsAvailable"
                                ui-sref="schedule-results({id:competition.id})"
                                class="btn btn-link show-competition-link">
                            <span>{{'danceFormApp.schedule.registry.results' | translate}}</span>
                        </a>
                        <a ng-if="!competition.resultsAvailable"
                                ui-sref="schedule-details({id:competition.id})"
                                class="btn btn-link show-competition-link">
                            <span>{{'danceFormApp.schedule.registry.information' | translate}}</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="afisha" ng-cloak>
            <table align="center">
                <tbody>
                    <tr>
                        <td ng-repeat-start="competition in vm.futureCompetitions | orderBy:'startDate'"></td>
                        <td width="200" align="center" ng-if="competition.bannerImageId != null">
                            <div>
                                <a href="uploads/competition/{{competition.id}}/banner" target="_new">
                                    <img class="banner" data-ng-src="uploads/competition/{{competition.id}}/banner"/>
                                </a>
                            </div>
                        </td>
                        <td width="200" align="center" ng-if="competition.bannerImageId2 != null">
                            <div>
                                <a href="uploads/competition/{{competition.id}}/banner2" target="_new">
                                    <img class="banner" data-ng-src="uploads/competition/{{competition.id}}/banner2"/>
                                </a>
                            </div>
                        </td>
                        <td ng-repeat-end/>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>
