<div>

    <h1 data-translate="danceFormApp.schedule.title">Предстоящие Турниры</h1>

    <div class="table-responsive">
        <table class="jh-table table table-bordered table-schedule competition-table">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th>
                        <span data-translate="danceFormApp.schedule.date">Дата</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.schedule.name">Название</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.schedule.location">Место</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.schedule.organizer">Организатор</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="competition in vm.futureCompetitions | orderBy:'startDate'">
                    <td>
                        <div class="div-inline">{{competition.startDate | date:'d MMMM yyyy'}}</div>
                        <div class="div-inline" ng-if="competition.endDate != null && competition.startDate != competition.endDate">&nbsp;- {{competition.endDate | date:'d MMMM
                            yyyy'}}
                        </div>
                    </td>
                    <td>
                        <button type="button"
                                ui-sref="schedule-details({id:competition.id})"
                                class="btn btn-link show-competition-link">
                            <span>{{competition.name}}</span>
                        </button>
                    </td>
                    <td>{{competition.location}}</td>
                    <td>{{competition.organizer}}</td>
                </tr>
            </tbody>
        </table>
        <div ng-if="vm.pastCompetitions != null && vm.pastCompetitions.length > 0">
            <h2 data-translate="danceFormApp.schedule.past.title">Прошедшие турниры </h2>

            <div class="table-responsive">
                <table class="jh-table table table-bordered table-schedule competition-table">
                    <thead>
                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                            <th>
                                <span data-translate="danceFormApp.schedule.date">Дата</span>
                            </th>
                            <th>
                                <span data-translate="danceFormApp.schedule.name">Название</span>
                            </th>
                            <th>
                                <span data-translate="danceFormApp.schedule.location">Место</span>
                            </th>
                            <th>
                                <span data-translate="danceFormApp.schedule.organizer">Организатор</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="competition in vm.pastCompetitions | orderBy:'startDate'">
                            <td>
                                <div class="div-inline">{{competition.startDate | date:'d MMMM yyyy'}}</div>
                                <div class="div-inline" ng-if="competition.endDate != null"> - {{competition.endDate | date:'d MMMM yyyy'}}</div>
                            </td>
                            <td class="competition-name">
                                <button type="button" ng-if="competition.resultsAvailable"
                                        ui-sref="schedule-results({id:competition.id})"
                                        class="btn btn-link show-competition-link competition-name">
                                    <span>{{competition.name}}</span>
                                </button>
                                <span ng-if="!competition.resultsAvailable">{{competition.name}}</span>
                            </td>
                            <td>{{competition.location}}</td>
                            <td>{{competition.organizer}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
