<div>

    <h1 data-translate="danceFormApp.competition-timeline.title">График Турниров</h1>

    <div class="table-responsive">
        <table class="jh-table table table-bordered table-timeline">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th>
                        <span data-translate="danceFormApp.competition-timeline.date">Дата</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.competition-timeline.name">Название</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.competition-timeline.location">Место</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.competition-timeline.organizer">Организатор</span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="competition in vm.futureCompetitions track by competition.id">
                    <td>{{competition.date | date:'d MMMM yyyy'}}</td>
                    <td>{{competition.name}}</td>
                    <td>{{competition.location}}</td>
                    <td>{{competition.organizer}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="competition-timeline-show({id:competition.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2 data-translate="danceFormApp.competition-timeline.past.title">Прошедшие турниры </h2>

        <div class="table-responsive">
            <table class="jh-table table table-bordered table-timeline">
                <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th>
                            <span data-translate="danceFormApp.competition-timeline.date">Дата</span>
                        </th>
                        <th>
                            <span data-translate="danceFormApp.competition-timeline.name">Название</span>
                        </th>
                        <th>
                            <span data-translate="danceFormApp.competition-timeline.location">Место</span>
                        </th>
                        <th>
                            <span data-translate="danceFormApp.competition-timeline.organizer">Организатор</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="competition in vm.pastCompetitions track by competition.id">
                        <td>{{competition.date | date:'d MMMM yyyy'}}</td>
                        <td>{{competition.name}}</td>
                        <td>{{competition.location}}</td>
                        <td>{{competition.organizer}}</td>
                    </tr>
                </tbody>
            </table>

    </div>
</div>
