<div>
    <button type="submit"
            ui-sref="competition-detail({id:{{vm.competitionId}}})"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>
        &nbsp;
        <span data-translate="entity.action.back"> Back</span>
    </button>

    <h2 data-translate="danceFormApp.competitionCategory.home.title">Competition Categories</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="competition-category.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span data-translate="danceFormApp.competitionCategory.home.createLabel">
                        Create new Competition Category
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th>
                        <span data-translate="global.field.id">ID</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.competitionCategory.name">Name</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.competitionCategory.description">Description</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.competitionCategory.date">Дата</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.competitionCategory.active">Active</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.competitionCategory.checkMinAge">Check Min Age</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.competitionCategory.checkMaxAge">Check Max Age</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.competitionCategory.allowSolo">Allow Solo</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.competitionCategory.allowHobby">Allow Hobby</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.competitionCategory.danceCategory">Dance Category</span>
                    </th>
                    <!--<th>
                        <span data-translate="danceFormApp.competitionCategory.danceClass">Dance Class</span>
                    </th>
                    <th>
                        <span data-translate="danceFormApp.competitionCategory.ageCategory">Age Category</span>
                    </th>-->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="competitionCategory in vm.competitionCategories track by competitionCategory.id">
                    <td>
                        <a ui-sref="competition-category-detail({id:competitionCategory.id})">{{competitionCategory.id}}</a>
                    </td>
                    <td>{{competitionCategory.name}}</td>
                    <td>{{competitionCategory.description}}</td>
                    <td>{{competitionCategory.date | date:'d MMMM yyyy'}}</td>
                    <td>
                        <div ng-if="competitionCategory.active">
                            <span data-translate="global.variables.true"></span>
                        </div>
                        <div ng-if="!competitionCategory.active">
                            <span data-translate="global.variables.false"></span>
                        </div>
                    </td>
                    <td>
                        <div ng-if="competitionCategory.checkMinAge">
                            <span data-translate="global.variables.true"></span>
                        </div>
                        <div ng-if="!competitionCategory.checkMinAge">
                            <span data-translate="global.variables.false"></span>
                        </div>
                    </td>
                    <td>
                        <div ng-if="competitionCategory.checkMaxAge">
                            <span data-translate="global.variables.true"></span>
                        </div>
                        <div ng-if="!competitionCategory.checkMaxAge">
                            <span data-translate="global.variables.false"></span>
                        </div>
                    </td>
                    <td>
                        <div ng-if="competitionCategory.allowSolo">
                            <span data-translate="global.variables.true"></span>
                        </div>
                        <div ng-if="!competitionCategory.allowSolo">
                            <span data-translate="global.variables.false"></span>
                        </div>
                    </td>
                    <td>
                        <div ng-if="competitionCategory.allowHobby">
                            <span data-translate="global.variables.true"></span>
                        </div>
                        <div ng-if="!competitionCategory.allowHobby">
                            <span data-translate="global.variables.false"></span>
                        </div>
                    </td>
                    <td>{{competitionCategory.danceCategory.name}}</td>
                    <!--<td>
                        <span ng-repeat="danceClass in competitionCategory.danceClasses">
                            <a class="form-control-static" ui-sref="dance-class-detail({id: danceClass.id})">{{danceClass.name}}</a>
                            {{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <span ng-repeat="ageCategory in competitionCategory.ageCategories">
                            <a class="form-control-static" ui-sref="age-category-detail({id: ageCategory.id})">{{ageCategory.name}}</a>
                            {{$last ? '' : ', '}}
                        </span>
                    </td>-->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="competition-category-detail({competitionId:competitionCategory.competitionId, id:competitionCategory.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="competition-category.edit({competitionId:competitionCategory.competitionId,id:competitionCategory.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="competition-category.delete({competitionId:competitionCategory.competitionId,id:competitionCategory.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
