<div>

    <button type="submit"
            ui-sref="competition-category({competitionId:{{vm.competitionCategory.competitionId}}})"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>
        &nbsp;
        <span data-translate="entity.action.back"> Back</span>
    </button>

    <h2>
        <span data-translate="danceFormApp.competitionCategory.detail.title">Competition Category</span>
        {{vm.competitionCategory.id}}
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt>
            <span data-translate="danceFormApp.competitionCategory.name">Name</span>
        </dt>
        <dd>
            <span>{{vm.competitionCategory.name}}</span>
        </dd>
        <dt>
            <span data-translate="danceFormApp.competitionCategory.description">Description</span>
        </dt>
        <dd>
            <span>{{vm.competitionCategory.description}}</span>
        </dd>
        <dt>
            <span data-translate="danceFormApp.competitionCategory.date">Date</span>
        </dt>
        <dd>
            <span>{{vm.competitionCategory.date | date:'d MMMM yyyy'}}</span>
        </dd>
        <dt>
            <span data-translate="danceFormApp.competitionCategory.active">Active</span>
        </dt>
        <dd>
            <div ng-if="vm.competitionCategory.active">
                <span data-translate="global.variables.true"></span>
            </div>
            <div ng-if="!vm.competitionCategory.active">
                <span data-translate="global.variables.false"></span>
            </div>
        </dd>
        <dt>
            <span data-translate="danceFormApp.competitionCategory.checkMinAge">Check Min Age</span>
        </dt>
        <dd>
            <div ng-if="vm.competitionCategory.checkMinAge">
                <span data-translate="global.variables.true"></span>
            </div>
            <div ng-if="!vm.competitionCategory.checkMinAge">
                <span data-translate="global.variables.false"></span>
            </div>
        </dd>
        <dt>
            <span data-translate="danceFormApp.competitionCategory.checkMaxAge">Check Max Age</span>
        </dt>
        <dd>
            <div ng-if="vm.competitionCategory.checkMaxAge">
                <span data-translate="global.variables.true"></span>
            </div>
            <div ng-if="!vm.competitionCategory.checkMaxAge">
                <span data-translate="global.variables.false"></span>
            </div>
        </dd>
        <dt>
            <span data-translate="danceFormApp.competitionCategory.allowSolo">Allow Solo</span>
        </dt>
        <dd>
            <div ng-if="vm.competitionCategory.allowSolo">
                <span data-translate="global.variables.true"></span>
            </div>
            <div ng-if="!vm.competitionCategory.allowSolo">
                <span data-translate="global.variables.false"></span>
            </div>
        </dd>
        <dt>
            <span data-translate="danceFormApp.competitionCategory.allowSoloOnly">Allow Solo Only</span>
        </dt>
        <dd>
            <div ng-if="vm.competitionCategory.allowSoloOnly">
                <span data-translate="global.variables.true"></span>
            </div>
            <div ng-if="!vm.competitionCategory.allowSoloOnly">
                <span data-translate="global.variables.false"></span>
            </div>
        </dd>
        <dt>
            <span data-translate="danceFormApp.competitionCategory.allowHobby">Allow Hobby</span>
        </dt>
        <dd>
            <div ng-if="vm.competitionCategory.allowHobby">
                <span data-translate="global.variables.true"></span>
            </div>
            <div ng-if="!vm.competitionCategory.allowHobby">
                <span data-translate="global.variables.false"></span>
            </div>
        </dd>
        <dt>
            <span data-translate="danceFormApp.competitionCategory.danceCategory">Dance Category</span>
        </dt>
        <dd>
            <span ng-if="vm.competitionCategory.danceCategory != null">{{vm.competitionCategory.danceCategory.name}}</span>
        </dd>
        <dt>
            <span data-translate="danceFormApp.competitionCategory.maxDanceClass">Dance Class</span>
        </dt>
        <dd>
            <span ng-repeat="danceClass in vm.competitionCategory.danceClasses">
                <a class="form-control-static" ui-sref="dance-class-detail({id: danceClass.id})">{{danceClass.name}}</a>
                {{$last ? '' : ', '}}
            </span>
        </dd>
        <dt>
            <span data-translate="danceFormApp.competitionCategory.ageCategory">Age Category</span>
        </dt>
        <dd>
            <span ng-repeat="ageCategory in vm.competitionCategory.ageCategories">
                <a class="form-control-static" ui-sref="age-category-detail({id: ageCategory.id})">{{ageCategory.name}}</a>
                {{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="button" ui-sref="competition-category-detail.edit({id:vm.competitionCategory.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
