<div>
    <h2 data-translate="danceFormApp.uploadedImage.home.title">Uploaded Images</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="uploaded-image.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span data-translate="danceFormApp.uploadedImage.home.createLabel">
                        Create new Uploaded Image
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id">
                        <span data-translate="global.field.id">ID</span>
                        <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th jh-sort-by="fullName">
                        <span data-translate="danceFormApp.uploadedImage.fullName">Full Name</span>
                        <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th jh-sort-by="path">
                        <span data-translate="danceFormApp.uploadedImage.path">Path</span>
                        <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th jh-sort-by="externalPath">
                        <span data-translate="danceFormApp.uploadedImage.externalPath">External Path</span>
                        <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th jh-sort-by="uploadedBy">
                        <span data-translate="danceFormApp.uploadedImage.uploadedBy">Uploaded By</span>
                        <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th jh-sort-by="uploadedDate">
                        <span data-translate="danceFormApp.uploadedImage.uploadedDate">Uploaded Date</span>
                        <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th jh-sort-by="contentType">
                        <span data-translate="danceFormApp.uploadedImage.contentType">Content Type</span>
                        <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th jh-sort-by="content">
                        <span data-translate="danceFormApp.uploadedImage.content">Content</span>
                        <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="uploadedImage in vm.uploadedImages track by uploadedImage.id">
                    <td>
                        <a ui-sref="uploaded-image-detail({id:uploadedImage.id})">{{uploadedImage.id}}</a>
                    </td>
                    <td>{{uploadedImage.fullName}}</td>
                    <td>{{uploadedImage.path}}</td>
                    <td>{{uploadedImage.externalPath}}</td>
                    <td>{{uploadedImage.uploadedBy}}</td>
                    <td>{{uploadedImage.uploadedDate | date:'medium'}}</td>
                    <td>{{uploadedImage.contentType}}</td>
                    <td>
                        <a ng-if="uploadedImage.content" ng-click="vm.openFile(uploadedImage.contentContentType, uploadedImage.content)">
                            <img data-ng-src="{{'data:' + uploadedImage.contentContentType + ';base64,' + uploadedImage.content}}" style="max-height: 30px;"/>
                        </a>
                        <span ng-if="uploadedImage.content">{{uploadedImage.contentContentType}}, {{vm.byteSize(uploadedImage.content)}}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="uploaded-image-detail({id:uploadedImage.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="uploaded-image.edit({id:uploadedImage.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="uploaded-image.delete({id:uploadedImage.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
